body{
    width: 100%;
    background: #062947;
    margin: 0px auto;
    font-size: 20px;
    font-family: "Calibri Light";
    color: white;
}

.menu{
    width: 1200px;
    max-width: 100%;
    margin: 0px auto;
    height: 100px;
    margin-top: 30px;
}

li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.flyer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.content a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.left a{
    float: left;
    margin-right: 30px;
    margin-top: 5px;
}

.docsach a{
    color: #FFD700;
}

.menu a:hover{
    color: #FFD700;
}

.menu img{
    vertical-align: middle;
}

#logo img{
    margin-left: 130px;
}

.right{
    float: right;
    margin-top: 5px;
}

.right img{
    margin-left: 40px;
}

.right .da-hov{
    display: none;
}

.right a:hover img.da-hov{
    display: inline-block;
}

.right a:hover img.chua-hov{
    display: none;
}

.text{
    float: left;
}

.text{
    margin-left: 300px;
}

.text a{
    font-size: 22px;
}

.text a:hover{
    color: #FFD700;
}

.text img{
    display: inline-block;
    vertical-align: bottom;
    width: auto;
}

.layer img{
    margin-left: 220px;
    margin-top: 50px;
}

.lb{
    text-align: center;
    width: 300px;
    line-height: 45px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
}

.find a{
    background-color: #FFD700;
    color: black;
    width: 55px;
    height: 45px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.find{
    margin-left: 570px;
    margin-top: 25px;
}

.icon a{
    margin-left: 90px;
}

.icon p{
    margin-top: -20px;
}

.words p{
    margin-top: 0px;
}

.icon img.da-hov{
    display: none;
}

.icon a:hover img.da-hov{
    display: inline-block;
}

.icon a:hover img.chua-hov{
    display: none;
}

.ccccc{
    max-width: 30%;
    max-height: 100%;
    margin-top: 50px;
    margin-left: 30px;
}

.photo {
    width: 110%;
}

.behind{
    width: 110%;
}

.photo img{
    width: 110%;
}

.content{
    max-width: 100%;
    margin-left: 200px;
}

.ccccc{
    float: left;
    margin-right: 40px;
}

.xem-them a{
    clear: left;
    background: #ffffff;
    color: #000000;
    border-radius: 4px;
    display: inline-block;
    margin: 0 auto;
    width: 160px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    float: left;
    margin-top: 50px;
    margin-left: 650px;
    text-decoration: none;
}

.xem-them a:hover{
    background: #FFD700;
}

.last{
    /*clear: left;*/
    margin-top: 10px;
}

.last div{
    float: left;
    margin-left: 150px;
    margin-top: 20px;
    margin-right: -80px;
}

.logodd img{
    margin-left: -110px;
}

.last h4{
    margin-left: 40px;
}

.add{
    margin-top: 0px;
}

.last a:hover{
    color: #FFD700;
}

br{
    clear: left;
}

hr{
    clear: left;
}

.last a{
    text-decoration: none;
    color: white;
}

.bottom{
    float: left;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.bottom .bticon{
    vertical-align: top;
}

.bottom a {
    font-size: 17px;
    display: inline-block;
}
